{#
 * @file
 * Display for theme font families.
 *
 * Each font is populated from the yml file within
 * this same directory (fonts.yml). Add or remove any fonts there.
 *
#}

{% for title, list in fonts %}
  <div class="pl-font">
    <h3>{{ title|capitalize }}</h3>
    {% for item in list %}
      {% set font_family = 'font-family: ' ~ item.family ~ '; ' %}
      {% set font_style = 'font-style: ' ~ item.style ~ '; ' %}
      {% set font_weight = 'font-weight: ' ~ item.weight ~ ';' %}
      {% set preview_style = font_family ~ font_style ~ font_weight %}

      <div class="pl-font__item">
        <div class="pl-font__preview-character" style="{{ preview_style }}">AaBbCc</div>
        <div class="pl-font__preview" style="{{ preview_style }}">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>abcdefghijklmnopqrstuvwxyz<br/>1234567890(,.;:?!$&*)</div>
        <div class="pl-font__preview-meta">
          <div class="pl-font__name"><span class="pl-font__label">Family:</span> {{ item.family }}</div>
          <div class="pl-font__style"><span class="pl-font__label">Style:</span> {{ item.style|capitalize }}</div>
          <div class="pl-font__weight"><span class="pl-font__label">Weight:</span> {{ item.weight }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}