{% if is_button %}
  <button class="button {{ modifier }}"{% if is_disabled %} disabled{% endif %}>{{ text }}</button>
{% else %}
  <a href="{{ url }}" class="button {{ modifier }}">{{ text }}</a>
{% endif %}
